// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Author: Marek Czerski <ma.czerski@gmail.com>
 */

/dts-v1/;

#include "meson-gxl-s905d.dtsi"
#include "meson-gx-p23x-q20x.dtsi"

/ {
	compatible = "amlogic,gtt-2", "amlogic,s905d", "amlogic,meson-gxl";
	model = "GTMedia GTT-2";

    i2c-display {
        compatible = "i2c-gpio";
        sda-gpios = <&gpio 72 (0 | (2 | 4))>;
        scl-gpios = <&gpio 71 (0 | (2 | 4))>;
        i2c-gpio,delay-us = <5>;
        #address-cells = <1>;
        #size-cells = <0>;

        display-controller@24 {
            compatible = "fdhisi,fd650";
            reg = <0x24>;

            tm16xx,digits = [03 02 01 00];
            tm16xx,segment-mapping = [00 06 04 02 01 07 05];

            #address-cells = <2>;
            #size-cells = <0>;

            led@2,3 {
                reg = <2 3>;
                function = "colon";
            };

        };
    };

    soc {
        demux: demux { 
            compatible = "amlogic, dmx"; 
 
            interrupts = <GIC_SPI 23 IRQ_TYPE_EDGE_RISING>,
                         <GIC_SPI 5  IRQ_TYPE_EDGE_RISING>,
                         <GIC_SPI 53 IRQ_TYPE_EDGE_RISING>,
                         <GIC_SPI 19 IRQ_TYPE_EDGE_RISING>,
                         <GIC_SPI 25 IRQ_TYPE_EDGE_RISING>;
            interrupt-names = "demux0_irq", "demux1_irq", "demux2_irq", "dvr0_irq", "dvr1_irq"; 
        };
    };

    dvb_demux: dvb-demux {
        compatible = "amlogic,meson-gxbb-demux";
        reg = <0x0 0xc1105800 0x0 0x400>,
              <0x0 0xc1108c40 0x0 0x10>,
              <0x0 0xc1108c50 0x0 0x10>;
        reg-names = "stb", "asyncfifo0", "asyncfifo1";

        status = "okay";
        ts0 = "parallel";
        ts0_control = <0x0>;
        ts0_invert = <0x0>;
        pinctrl-names = "p_ts0", "s_ts0";
        pinctrl-0 = <&dvb_p_ts0_pins>;
        pinctrl-1 = <&dvb_s_ts0_pins>;
        dmx = <&demux>;

        clocks = <&clkc CLKID_DEMUX
                  &clkc CLKID_ASYNC_FIFO
                  &clkc CLKID_AHB_ARB0>;
        clock-names = "demux", "asyncfifo", "ahbarb0";

        resets = <&reset RESET_DEMUX>,
                 <&reset RESET_DEMUX_DES>,
                 <&reset RESET_DEMUX_RESET_0>,
                 <&reset RESET_DEMUX_RESET_1>,
                 <&reset RESET_DEMUX_RESET_2>,
                 <&reset RESET_PERIPHS_ASYNC_0>,
                 <&reset RESET_PERIPHS_ASYNC_1>;
        reset-names = "demux_rst", "des_rst", "demux0_rst", "demux1_rst", "demux2_rst", "async0_rst", "async1_rst";
    };

    dvb-fe {
        compatible = "amlogic,dvb-bridge";

        demux = <&dvb_demux>;

        frontend@0 {
            //demod-i2c-bus = <&i2c_B>;
            //demod-i2c-addr = <0x6c>;
            //demod-module = "cxd2878";
            //demod-id = "cxd2878-24-p";
            //tuner-i2c-bus = <&i2c_B>;
            //tuner-i2c-addr = <0x63>;
            //tuner-module = "mxl603";
            //tuner-id = "mxl603-16";
            demod-dev = <&dvb_demod0>;
            tuner-dev = <&dvb_tuner0>;
        };
    };
};

/* P231 has only internal PHY port */
&ethmac {
	phy-mode = "rmii";
	phy-handle = <&internal_phy>;
};

&sd_emmc_a {
	sdio: wifi@1 {
		reg = <1>;
	};
};

&pinctrl_periphs {
    dvb_p_ts0_pins: dvb_p_ts0_pins {
        tsin_a {
            groups = "tsin_a_d0",
                     "tsin_a_dp",
                     "tsin_a_clk",
                     "tsin_a_sop",
                     "tsin_a_d_valid";
            function = "tsin_a";
        };
    };
    dvb_s_ts0_pins: dvb_s_ts0_pins {
        tsin_a {
            groups = "tsin_a_d0",
                     "tsin_a_clk",
                     "tsin_a_sop",
                     "tsin_a_d_valid";
            function = "tsin_a";
        };
    };
};

&i2c_B {
    status = "okay";
    pinctrl-0 = <&i2c_b_pins>;
    pinctrl-names = "default";

    dvb_demod0: dvb-demod@6c {
        compatible = "sony,cxd2878-24-p";
        reg = <0x6c>;

        i2c-gate {
            #address-cells = <1>;
            #size-cells = <0>;

            dvb_tuner0: dvb-tuner@63 {
                compatible = "maxlinear,mxl603-16";
                reg = <0x63>;
            };
        };
    };
};
