/**
Format:

alias : name[@bus] {


Note that size-cells and address-cells apply values of child nodes; furthermore, 
they are not inherited, so every container with children needs to specify these
properties.

}

**/



/dts-v1/;
/ {
	compatible = "orsoc,development-board";
	#size-cells = <1>;
	#address-cells = <1>;

	chosen {
		bootargs = "console=uart,mmio,0x90000000,115200 lpj=200000 debug";
/*		bootargs = "console=uart,mmio,0x90000000,115200 lpj=200000 root=/dev/nfs rw nfsroot=172.30.0.1:/home/jonas/local/opencores/linux-2.6/arch/or32/support/rootfs,rw,nolock ip=172.30.0.2::::::"; */
	};

	/*
	 * We'll get the size of the bootmem block from lv1 after startup,
	 * so we'll put a null entry here.
	 */

	memory {
		device_type = "memory";
		reg = <0x00000000 0x2000000>;
	};

	/*
	 * The boot cpu is always zero.
	 *
	 * dtc expects a clock-frequency and timebase-frequency entries, so
	 * we'll put a null entries here.  These will be initialized after
	 * startup with data from lv1.
	 *
	 * Seems the only way currently to indicate a processor has multiple
	 * threads is with an ibm,ppc-interrupt-server#s entry.  We'll put one
	 * here so we can bring up both of ours.  See smp_setup_cpu_maps().
	 */

	/* device_type node seems to be mandatory for cpus */

	cpus {
		cpu@0 {
			compatible = "opencores,openrisc-1200";
			clock-frequency = <20000000>;
		};
	};

	/* The "soc" node */

	soc {
		/* Every node with children must specify address-cells and
		   size-cells; they are not inherited */
		#address-cells = <1>;
		#size-cells = <1>;
		device_type = "soc";
		/* Specify empty ranges here to indicates 1:1 mapping of SOC
		   addresses (device addresses) to CPU addresses */
		/*ranges;*/
		ranges = <0 0x90000000 0x30000000>;
		/* This SOC has only a single, implicit PIC, so define it
		  early and put the interrupt-parent property in the 'soc'
		 node so that it's inherited by all the children using
		  interrupts.
		*/
		interrupt-parent = <&pic>;
		/* Devices with interrupts need a 'parent', so we need to
		   define a controller */

		pic: pic@0 {
			compatible = "opencores,or1k-pic";
/*			#address-cells = <0>;*/
			#interrupt-cells = <1>;
			interrupt-controller;
		};		


		serial0: serial@0000 {
/* FIXME: device_type is still needed here... should remove requirement from of_serial driver */
			device_type = "serial";
			compatible = "opencores,uart", "ns16550a";
			reg = <0x0000 0x100>;
			interrupts = <2>;
			clock-frequency = <20000000>;
		};			

		serial1: serial@93000000 {
			device_type = "serial";
			compatible = "opencores,uart", "ns16550a";
			reg = <0x3000000 0x7>;
			interrupts = <3>;
			clock-frequency = <20000000>;
		};

		serial2: serial@94000000 {
			device_type = "serial";
			compatible = "opencores,uart", "ns16550a";
			reg = <0x4000000 0x7>;
			interrupts = <5>;
			clock-frequency = <20000000>;
		};
			

		enet0: ethoc@2000000 {
			compatible = "opencores,ethoc", "ethoc";
			reg = <0x2000000 0x53>;
			interrupts = <4>;
		};

		i2c0: ocores@a0000000 {
			compatible = "opencores,i2c-ocores";
			reg = <0x10000000 0x8>;
			interrupts = <10>;

			regstep = <1>;
			clock_khz = <20000>;

			/* Devices connected on this I2C bus get 
			 * defined here; address- and size-cells
			 * apply to these child devices
			 */	

			#address-cells = <1>;
			#size-cells = <0>;

			dummy@60 {
				compatible = "dummy";
				reg = <60>;
			};
		}; 

		i2c1: ocores@a1000000 {
			compatible = "opencores,i2c-ocores";
			reg = <0x11000000 0x8>;
			interrupts = <11>;

			regstep = <1>;
			clock_khz = <20000>;

			/* Devices connected on this I2C bus get 
			 * defined here; address- and size-cells
			 * apply to these child devices
			 */	

			#address-cells = <1>;
			#size-cells = <0>;

			test@60 {
				compatible = "dummy";
				reg = <60>;
			};

			test2@64 {
				compatible = "dummy";
				reg = <64>;
			};
		}; 

		i2c2: ocores@a2000000 {
			compatible = "opencores,i2c-ocores";
			reg = <0x12000000 0x8>;
			interrupts = <12>;

			regstep = <1>;
			clock_khz = <20000>;

			/* Devices connected on this I2C bus get 
			 * defined here; address- and size-cells
			 * apply to these child devices
			 */	

			#address-cells = <1>;
			#size-cells = <0>;
		}; 

		i2c3: ocores@a3000000 {
			compatible = "opencores,i2c-ocores";
			reg = <0x13000000 0x8>;
			interrupts = <13>;

			regstep = <1>;
			clock_khz = <20000>;

			/* Devices connected on this I2C bus get 
			 * defined here; address- and size-cells
			 * apply to these child devices
			 */	

			#address-cells = <1>;
			#size-cells = <0>;
		}; 


		spi0: spi@b0000000 {
			compatible = "opencores,spi-simple";
			reg = <0x20000000 0x5>;

			/* Devices connected on this I2C bus get 
			 * defined here; address- and size-cells
			 * apply to these child devices.  Address
			 * for child is chip-select (slave select).
			 */	

			#address-cells = <1>;
			#size-cells = <0>;

/*			mmc-spi-slot@0 {
				compatible = "mmc-spi-slot";
				reg = <0>;
				spi-max-frequency = <10000000>;
			};
*/
			spiflash0: mtd@0 {
				compatible = "m25p10";
				reg = <0>;
				spi-max-frequency = <100000000>;
			};
		};

		gpio0: gpio@1000000 {
                	compatible = "opencores,jbtrivial";
                        reg = <0x1000000 0x6>;
                        #gpio-cells = <2>;
                        gpio-controller;
			xlnx,data-offset = <3>;
			xlnx,tri-offset = <3>;
                };

                gpio-leds {
                        compatible = "gpio-leds";

                        heartbeat {
                                label = "Heartbeat";
                                gpios = <&gpio0 0 0x0>;
                                linux,default-trigger = "heartbeat";
                        };

                        led1 {
                                label = "led1";
                                gpios = <&gpio0 1 0x0>;
                        };

                        led2 {
                                label = "led2";
                                gpios = <&gpio0 2 0x0>;
                        };

                        led3 {
                                label = "led3";
                                gpios = <&gpio0 3 0x0>;
                        };

                        led4 {
                                label = "led4";
                                gpios = <&gpio0 4 0x0>;
                        };

                        led5 {
                                label = "led5";
                                gpios = <&gpio0 5 0x0>;
                        };

                        led6 {
                                label = "led6";
                                gpios = <&gpio0 6 0x0>;
                        };

                        led7 {
                                label = "led7";
                                gpios = <&gpio0 7 0x0>;
                        };
                };

	};
};
